/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/log/*.log
/test/dummy/storage/
/test/dummy/tmp/
.byebug_history
*~
/Gemfile.lock
/node_modules/
.dir-locals.el
gemfiles/*.lock
/vendor/

dist/**
!dist/.keep

app/assets/javascripts/**
!app/assets/javascripts/.keep 